:root {
  /* colour variables */
  --white: #fff;
  --secondary-white: #d7ccc0;
  --bright: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --secondary-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf");
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", serif;
  line-height: 1.6em;
}

main {
  width: 1440px;
  margin: auto;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  position: relative;
  background-color: var(--bright);
}

.section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.section-inner {
  position: relative;
  max-width: 1110px;
  margin: auto;
  padding: 100px 0;
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.blue {
  color: blue;
}

.basic {
  color: var(--basic);
}

.white {
  color: var(--white);
}

.secondary-white {
  color: var(--secondary-white);
}

.secondary-dark {
  color: var(--secondary-dark);
}

.brown {
  color: var(--brown);
}

.columns {
  display: flex;
  gap: 30px;
  margin-top: 185px;
}

.column {
  width: calc(50% - 15px);
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
}

.btn-basic {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
  background-color: var(--basic);
}

.video {
  padding-bottom: -84px;
  /* stylelint-disable */
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  /* stylelint-enable */
}

.mb-0 {
  margin-bottom: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-none {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.ta-center {
  text-align: center;
}

.mt-16 {
  margin-top: 16px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

#navigation {
  margin-top: -200px;
  background: var(--basic-dark);
}

.nav-menu {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  column-gap: 30px;
}

.item {
  box-sizing: border-box;
  width: calc(1110px / 3 - 20px);
  padding: 24px;
}

.nav-card {
  padding: 24px;
}

.nav-card:hover {
  background: var(--basic);
}

.nav-card:hover > * {
  color: var(--white);
}

.number {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
}

.distortion-block {
  display: flex;
  column-gap: 30px;
}

.distortions {
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, serif;
}

.how-to {
  font-weight: 700;
  font-size: 14px;
}

.how-to-position {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.img-block {
  vertical-align: middle;

  /* stylelint-disable */
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  /* stylelint-enable */
}

.bg-basic {
  background-color: var(--basic);
}

.bg-bright {
  background-color: var(--bright);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.bg-dark {
  background-color: var(--basic-dark);
}

.fs-52 {
  font-size: 52px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.ff-neucha {
  font-family: Neucha, serif;
}

.pd-0 {
  padding: 0;
}

.pd-55 {
  padding: 55px;
}

.pd-15 {
  padding: 15px;
}

.fd-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.h-50 {
  height: 50px;
}

.w-70 {
  width: 70px;
}

.w-415 {
  width: 415px;
}

.bs-bb {
  box-sizing: border-box;
}

input::placeholder {
  color: #757575;
}

.td-u {
  text-decoration: underline;
}
