:root {
  /* colour variables */
  --white: #fff;
  --secondary-white: #d7ccc0;
  --bright: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --secondary-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf");
}

body {
  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.section {
  position: relative;
  max-width: 1100px;
  margin: auto;
  padding: 100px 0;
}

.section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: " ";
}

.bright::after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bright);
  width: 100%;
  height: 100%;
  z-index: -2;
  content: "";
}

.brown::after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--brown);
  width: 100%;
  height: 100%;
  z-index: -2;
  content: "";
}

.fc-basic {
  color: var(--basic);
}

.fc-dark {
  color: var(--dark);
}

.fc-white {
  color: var(--white);
}

.fc-secondary-dark {
  color: var(--secondary-dark);
}

.fc-bright {
  color: var(--bright);
}

.fc-brown {
  color: var(--brown);
}

.ff-Neucha {
  font-family: Neucha, sans-serif;
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.block-2c {
  columns: 2;
  column-gap: 30px;
}

.header-description {
  margin-top: 185px;
  padding-top: 15px;
}

.more {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  background: var(--basic);
}

.c-2 {
  break-inside: avoid;
}

.pd-55 {
  padding: 55px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.video::before {
  background: none;
  content: "";
}

.t-a-cen {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-16 {
  margin-bottom: 16px;
}

iframe {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav::before {
  background: var(--basic-dark);
  opacity: 1;
}

.nav {
  margin-top: -200px;
  padding-top: 200px;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.jc-space-between {
  justify-content: space-between;
}

.g-30 {
  gap: 30px;
}

.g-20-30 {
  gap: 20px 30px;
}

.flex-item {
  flex: calc(100% / 3 - 60px);
}

.fs-52 {
  font-size: 52px;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.fs-12 {
  font-size: 12px;
}

.number {
  padding-bottom: 40px;
  color: var(--basic-dark);
  font: 64px/1 Neucha, sans-serif;
}

.nav-link {
  display: block;
  box-sizing: border-box;
  padding: 24px;
  text-decoration: none;
  background-color: var(--bright);
}

.img-column {
  vertical-align: middle;
}

.effect-definition {
  margin-top: 30px;
  margin-bottom: 0;
  font: 34px/1.2 Neucha, sans-serif;
}

.how-it-effects {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 0 5px 10px;
  font-weight: 700;
  background-color: var(--brown);
  column-span: all;
}

.ba-column {
  break-after: column;
}

.bg-white {
  background-color: white;
}

.footer::before{
  background: none;
  content: "";
}

.bg-basic-dark {
  background-color: var(--basic-dark);
}

label {
  display: block;
  margin-bottom: 9px;
  font-size: 18px;
  color: white;
}

input {
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  flex-grow: 1;
  border: none;
}

input::placeholder{
  color: #757575;
}

.send {
  position: relative;
  width: 75px;
  height: 50px;
  border: none;
}

.send::before {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-image: url("../assets/img/send.svg");
  background-repeat: no-repeat;
  content: " ";
}

.bg-basic {
  background-color: var(--basic);
}

.va-middle {
  vertical-align: middle;
}


