:root {
  /* colour variables */
  --white: #fff;
  --secondary-white: #d7ccc0;
  --bright: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --secondary-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf");
}

body {
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

main {
  width: 1440px;
}

h1, h2, h3 {
  font-family: "Neucha", serif;
  margin: 0;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.section {
  position: relative;
}

.section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--brown);
  background-image: url("../assets/img/background.png");
  opacity: 0.1;
}

.section-inner {
  position: relative;
  margin: auto;
  padding: 100px 0;
  max-width: 1110px;
}

.main-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -165px;
}

.basic {
  color: var(--basic);
}

.white {
  color: var(--white)
}

.columns {
  display: flex;
  margin-top: 185px;
  gap: 30px;
}

.column {
  width: calc(50% - 15px);
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
}

.btn-basic {
  background-color: var(--basic);
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

.video {
  padding-bottom: -84px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.mb-0 {
  margin-bottom: 0;
}

.ta-center {
  text-align: center;
}

.mt-30 {
  margin-top: 30px;
}

.pt-200 {
  padding-top: 200px;
}

#navigation {
  margin-top: -200px;
  background: var(--basic-dark);
}

.nav-menu {
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
  flex-wrap: wrap;
}

.item {
  width: calc(1110px/3 - 20px);
  padding: 24px;
  box-sizing: border-box;
  height: 300px;
}

.bg-bright {
  background-color: var(--bright);
}

.fs-52 {
  font-size: 52px;
}

.ff-neucha {
  font-family: "Neucha", serif;
}

.pd-0 {
  padding: 0;
}

.fd-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
